body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color:black;
	font-weight:bold;
	text-decoration:underline;
}

h1 {
color: #f20c59;
font-size: 50px;
}

h2{
font-size: 50px;
margin-bottom: 40px;
}
.btn{
	width: 100%;
	border-radius: 0;
	background-color:#f20c59;
	font-size:40px;
	text-decoration:none;
	font-weight:bold;
	margin-bottom:40px;
	border-color:#a20c29;
	border-width:1px;
}

.btn:hover {
	background-color:#c20c49;
	border-color:#a20c29;
}


.btn.btn-sm{
	font-size:20px;
}

h3 {
	font-weight:100;
}

h4 {
	font-weight:200;
}


.fb-share-button
{
transform: scale(3.5);
-ms-transform: scale(3.5);
-webkit-transform: scale(3.5);
-o-transform: scale(3.5);
-moz-transform: scale(3.5);
transform-origin: top left;
-ms-transform-origin: top left;
-webkit-transform-origin: top left;
-moz-transform-origin: top left;
-webkit-transform-origin: top left;
}

.title-header {
	margin:0; 
	font-size:35px; 
	padding-left:20px; 
	padding-right:20px;
}

@media (max-width: 670px) {
	.title-header {
		margin:0; font-size:20px;
		padding-top:20px;
		font-weight:bold;
	}
}
@media (max-width: 443px) {
	.title-header {
		padding-top:8px;
	}
}

p {
	margin-top:20px;
	margin-bottom:20px;
}
ul li {
	margin-top:5px;
	margin-bottom:5px;
}


/* SYNTAX */
.highlight .hll { background-color: #333333 }
.highlight  {
  background: #111111;

  color: #ffffff ;

  padding: 0.2em 0.9em;
  margin-bottom: 1em;
  font: normal normal normal 115%/normal 'Monaco', 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace !important;
  line-height: 1.1em;
  overflow: auto;
  font-size: 1.0em;
  border: 1px solid #CCC;

  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;


}

.highlight p > code, .highlight p > a > code
{
border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
color: #C5CBD0;
/*color: white*/
background-image: url(/nomster/images/opaque_20.png);
font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
font-size: 1.1em;
/*height: 0px;
image-rendering: auto;
left: auto;
list-style-type: disc;*/
padding-bottom: 2px;
padding-left: 4px;
padding-right: 4px;
padding-top: 2px;
text-decoration: none;
text-indent: 0px;
text-shadow: none;
text-transform: none;
top: auto;

}


.highlight p > a > code
{
color: #95be7d;
}

.highlight code, .highlight pre {
  font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
  font-size:0.95em;
  margin: 1em 0 1.5em 0;
        color:white;
}

.highlight span
{
font-family: "Consolas", "Courier New", "Courier", "FreeMono", monospace;
font-size:1em;
}

.highlight .hll { background-color: #49483e }
.highlight  { /*background: #272822;*/ color: #f8f8f2 }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: white; } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */

.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .c1 { color: #CCCCCC } /* Comment.Single */



.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */


.highlight {
  padding:0;
}
.highlight pre {
  background: black;
  border:none;
  margin:3px;
}

.highlight .emphasis {
  font-weight:bolder;
  background-color:rgba(255,0,0,0.3);
  padding:0;
  margin:0;
}


